<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>LOCALHOST: 8084 (DELETE)</h1>
        </div>

        <br>
        <h2>
            Hello, <span th:text="${username}">--name--</span>
        </h2>

        <br><br>
        <div class="well">
            <b>Выход из учетной записи: </b><a href="/logout">LOGOUT</a>
        </div>
        <div class="well">
            <b>Вернуться на главную: </b><a href="/">HOME PAGE</a>
        </div>

        <div id="pagefoot" th:include="layout :: footerFragment">Footer</div>
    </div>
<!-- container -->
</body>
</html>
