<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Local Host 8000</h1>
		</div>
		<div>
			<h2>Hello, <span th:text="${username}">--name--</span></h2>

			<h4>Granted Authorities:
				<tbody>
				<tr th:each="role : ${roles}">
					<td th:text="${role}">Text ...</td>
				</tr>
				</tbody>
			</h4>

			<h3>Доступные ссылки</h3>

			<div class="well">
				<b>Пройдите по ссылке: </b><a href="http://localhost:8000/customers1">доступ с ролью "User"</a>
			</div>
			<div class="well">
				<b>Пройдите по ссылке: </b><a href="http://localhost:8000/customers2">доступ с ролью "Grant"</a>
			</div>
			<div class="well">
				<b>Пройдите по ссылке: </b><a href="http://localhost:8000/customers3">доступ с ролью "Admin"</a>
			</div>
			<div class="well">
				<b>Пройдите по ссылке: </b><a href="http://localhost:8080/">module №2 (порт 8080)</a>
			</div>
			<div class="well">
				<b>Пройдите по ссылке: </b><a href="http://localhost:8084/">module №3 (порт 8084)</a>
			</div>
			<div class="well">
				<b>Выход: </b><a href="/custom_logout">LOGOUT</a>
			</div>

		</div>
		<div id="pagefoot" th:include="layout :: footerFragment">Footer
		</div>
	</div>
	<!-- container -->

</body>
</html>
